In [1]:
# Apriori 분석에 필요한 라이브러리 설치
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
dataset = [
           ['삼겹살', '쌈장', '콜라'],
           ['항정살', '상추'],
           ['사이다', '콜라'],
           ['삼겹살', '쌈장', '사이다'],
           ['삼겹살', '쌈장', '상추'],
           ['항정살', '쌈장', '상추'],
           ['삼겹살', '항정살', '쌈장', '상추', '콜라']
]

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset). transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_) #array를 보기좋게 DF로 변경

In [4]:
df

     사이다    삼겹살     상추     쌈장     콜라    항정살
0  False   True  False   True   True  False
1  False  False   True  False  False   True
2   True  False  False  False   True  False
3   True   True  False   True  False  False
4  False   True   True   True  False  False
5  False  False   True   True  False   True
6  False   True   True   True   True   True

In [5]:
# 지지도(Support) 최소지지도 = 0.5
frequent_itemsets = apriori(df, use_colnames=True)
frequent_itemsets

    support   itemsets
0  0.571429      (삼겹살)
1  0.571429       (상추)
2  0.714286       (쌈장)
3  0.571429  (삼겹살, 쌈장)

In [6]:
apriori(df, min_support=0.3, use_colnames=True).sort_values(by='support', ascending=False)

    support   itemsets
2  0.714286       (쌈장)
0  0.571429      (삼겹살)
1  0.571429       (상추)
5  0.571429  (삼겹살, 쌈장)
3  0.428571       (콜라)
4  0.428571      (항정살)
6  0.428571   (쌈장, 상추)
7  0.428571  (항정살, 상추)

In [7]:
# 신뢰도(Confidence) 와 향상도(lift)
association_rules(frequent_itemsets, metric="confidence")

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0       (삼겹살)        (쌈장)            0.571429  ...   1.4  0.163265         inf

[1 rows x 9 columns]

In [8]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3) 
# antecedent support & consequent support 뭘까?
# 아! 알아냄 >> 
# 첫번째 행을 기준으로 각 선행으로 사건(삼겹살), 이후에 일어난 사건(쌈장)의 지지도이다.
# support는 {삼겹살, 쌈장}의 집합 지지도

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0       (삼겹살)        (쌈장)            0.571429  ...   1.4  0.163265         inf
1        (쌈장)       (삼겹살)            0.714286  ...   1.4  0.163265    2.142857

[2 rows x 9 columns]

http://rasbt.github.io/mlxtend/api_subpackages/mlxtend.frequent_patterns/